RandomMenuAdvisor/Service References/ServiceReference1/MenuAdvisorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://192.168.1.69/wcf/MenuAdvisorService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuAdvisorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://192.168.1.69/wcf/MenuAdvisorService" location="http://192.168.1.69:5000/wcf/example/randommenuadvisor_service?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IMenuAdvisor" type="i0:IMenuAdvisor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabaseConnectionTest">
      <soap:operation soapAction="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/DatabaseConnectionTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomRequestedData">
      <soap:operation soapAction="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetRandomRequestedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryData">
      <soap:operation soapAction="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetCategoryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodData">
      <soap:operation soapAction="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetFoodData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPercentageData">
      <soap:operation soapAction="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetPercentageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuAdvisorService">
    <wsdl:port name="BasicHttpBinding_IMenuAdvisor" binding="tns:BasicHttpBinding_IMenuAdvisor">
      <soap:address location="http://192.168.1.69:5000/wcf/example/randommenuadvisor_service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>