RandomMenuAdvisor/Service References/ServiceReference1/randommenuadvisor_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://192.168.1.69/wcf/MenuAdvisorService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://192.168.1.69/wcf/MenuAdvisorService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.1.69/wcf/MenuAdvisorService/Imports">
      <xsd:import schemaLocation="http://192.168.1.69:5000/wcf/example/randommenuadvisor_service?xsd=xsd0" namespace="http://192.168.1.69/wcf/MenuAdvisorService" />
      <xsd:import schemaLocation="http://192.168.1.69:5000/wcf/example/randommenuadvisor_service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.69:5000/wcf/example/randommenuadvisor_service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuAdvisor_test_InputMessage">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_test_OutputMessage">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_DatabaseConnectionTest_InputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseConnectionTest" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_DatabaseConnectionTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseConnectionTestResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetRandomRequestedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomRequestedData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetRandomRequestedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomRequestedDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetCategoryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetCategoryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetFoodData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetFoodData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetPercentageData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentageData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetPercentageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentageDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuAdvisor">
    <wsdl:operation name="test">
      <wsdl:input wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/test" message="tns:IMenuAdvisor_test_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/testResponse" message="tns:IMenuAdvisor_test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabaseConnectionTest">
      <wsdl:input wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/DatabaseConnectionTest" message="tns:IMenuAdvisor_DatabaseConnectionTest_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/DatabaseConnectionTestResponse" message="tns:IMenuAdvisor_DatabaseConnectionTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomRequestedData">
      <wsdl:input wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetRandomRequestedData" message="tns:IMenuAdvisor_GetRandomRequestedData_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetRandomRequestedDataResponse" message="tns:IMenuAdvisor_GetRandomRequestedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryData">
      <wsdl:input wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetCategoryData" message="tns:IMenuAdvisor_GetCategoryData_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetCategoryDataResponse" message="tns:IMenuAdvisor_GetCategoryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFoodData">
      <wsdl:input wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetFoodData" message="tns:IMenuAdvisor_GetFoodData_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetFoodDataResponse" message="tns:IMenuAdvisor_GetFoodData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPercentageData">
      <wsdl:input wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetPercentageData" message="tns:IMenuAdvisor_GetPercentageData_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.69/wcf/MenuAdvisorService/IMenuAdvisor/GetPercentageDataResponse" message="tns:IMenuAdvisor_GetPercentageData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>