RandomMenuAdvisor/Service References/ServiceReference1/randommenuadvisor_service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FoodData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoodData" nillable="true" type="tns:FoodData" />
</xs:schema>