RandomMenuAdvisor/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuAdvisor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuAdvisor_DatabaseConnectionTest_InputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseConnectionTest" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_DatabaseConnectionTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseConnectionTestResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetRandomRequestedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomRequestedData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetRandomRequestedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomRequestedDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetCategoryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetCategoryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetFoodData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetFoodData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetPercentageData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentageData" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetPercentageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentageDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetRandomResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomResult" />
  </wsdl:message>
  <wsdl:message name="IMenuAdvisor_GetRandomResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuAdvisor">
    <wsdl:operation name="DatabaseConnectionTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAdvisor/DatabaseConnectionTest" message="tns:IMenuAdvisor_DatabaseConnectionTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAdvisor/DatabaseConnectionTestResponse" message="tns:IMenuAdvisor_DatabaseConnectionTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomRequestedData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAdvisor/GetRandomRequestedData" message="tns:IMenuAdvisor_GetRandomRequestedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAdvisor/GetRandomRequestedDataResponse" message="tns:IMenuAdvisor_GetRandomRequestedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAdvisor/GetCategoryData" message="tns:IMenuAdvisor_GetCategoryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAdvisor/GetCategoryDataResponse" message="tns:IMenuAdvisor_GetCategoryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFoodData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAdvisor/GetFoodData" message="tns:IMenuAdvisor_GetFoodData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAdvisor/GetFoodDataResponse" message="tns:IMenuAdvisor_GetFoodData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPercentageData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAdvisor/GetPercentageData" message="tns:IMenuAdvisor_GetPercentageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAdvisor/GetPercentageDataResponse" message="tns:IMenuAdvisor_GetPercentageData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAdvisor/GetRandomResult" message="tns:IMenuAdvisor_GetRandomResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAdvisor/GetRandomResultResponse" message="tns:IMenuAdvisor_GetRandomResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuAdvisor" type="tns:IMenuAdvisor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DatabaseConnectionTest">
      <soap:operation soapAction="http://tempuri.org/IMenuAdvisor/DatabaseConnectionTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomRequestedData">
      <soap:operation soapAction="http://tempuri.org/IMenuAdvisor/GetRandomRequestedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryData">
      <soap:operation soapAction="http://tempuri.org/IMenuAdvisor/GetCategoryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodData">
      <soap:operation soapAction="http://tempuri.org/IMenuAdvisor/GetFoodData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPercentageData">
      <soap:operation soapAction="http://tempuri.org/IMenuAdvisor/GetPercentageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomResult">
      <soap:operation soapAction="http://tempuri.org/IMenuAdvisor/GetRandomResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuAdvisor">
    <wsdl:port name="BasicHttpBinding_IMenuAdvisor" binding="tns:BasicHttpBinding_IMenuAdvisor">
      <soap:address location="http://169.254.231.70:5000/wcf/example/randommenuadvisor_service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>